.wrapper {
    background-color: pink;
    padding-left: 100px;
    padding: 30px 50px;
}

.btn-submit {
    display: none;
    margin-top: 10px;
}

.btn-continue {
    margin-top: 10px;
}

.question-2 {
    display: none;
}

.ques {
    font-weight: 600;
}

.ex {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
