.wrapper {
    width: 100%;
    
}

.info {
    width: fit-content;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: pink;
    border: 2px solid green;
}

.score {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}